<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
  [(ngModel)]="searchTerm"
  (ionInput)="filtrarNotas()"
  placeholder="Buscar nota"
  debounce="300"
></ion-searchbar>
  <ion-button [routerLink]="['/agregar-nota', materiaId]">Agregar Nota</ion-button>
  <div *ngFor="let corte of [1, 2, 3, 4]">
    <h2>{{ corte }}° Corte</h2>
    <ion-list *ngIf="cortes[corte].length > 0; else noNotas">
      <ion-item *ngFor="let nota of cortes[corte]">
        <ion-label>
          <h2>{{ nota.descripcion }}</h2>
          <p>Fecha: {{ nota.fechaEntrega }}</p>
          <p>Nota: {{ nota.nota }}</p>
          <p>Observaciones: {{ nota.observaciones }}</p>
        </ion-label>
        <ion-button (click)="editNota(nota.id)" color="primary">Editar</ion-button>
        <ion-button (click)="deleteNota(nota.id)" color="danger">Eliminar</ion-button>
      </ion-item>
    </ion-list>
    <ng-template #noNotas>
      <p>No hay notas en este corte.</p>
    </ng-template>
  </div>
</ion-content>

