<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ isEditing ? 'Editar Nota' : 'Agregar Nota' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveNota()">
    <ion-item>
      <ion-label>Fecha de Entrega</ion-label>
      <ion-input type="date" [(ngModel)]="nota.fechaEntrega" name="fechaEntrega" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input [(ngModel)]="nota.descripcion" name="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nota</ion-label>
      <ion-input type="number" step="0.01" [(ngModel)]="nota.nota" name="nota" min="0" max="5" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Observaciones</ion-label>
      <ion-input [(ngModel)]="nota.observaciones" name="observaciones"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Corte</ion-label>
      <ion-select [(ngModel)]="nota.corte" name="corte" required>
        <ion-select-option value="1">1 Corte</ion-select-option>
        <ion-select-option value="2">2 Corte</ion-select-option>
        <ion-select-option value="3">3 Corte</ion-select-option>
        <ion-select-option value="4">4 Corte</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar Nota</ion-button>
  </form>
</ion-content>

