<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <ion-button (click)="crearMateria()">Crear</ion-button>
</div>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let materia of materias">
        <h2>{{ materia.nombre }}</h2>
        <p>Id: {{ materia.id }}</p>
        <p>Código: {{ materia.codigo }}</p>
        <p>Horario: {{ materia.horario }}</p>
    <ion-button (click)="editarMateria(materia.id)">Modificar</ion-button>
    <ion-button color="danger" (click)="eliminarMateria(materia.id)">Eliminar</ion-button>
    <ion-button (click)="irNotas(materia.id)">Notas</ion-button>    
  </ion-item>
  </ion-list>
</ion-content>
