<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filtrarMaterias()"
      placeholder="Buscar materia o nota"
      debounce="150"
    ></ion-searchbar>
<ion-button (click)="crearMateria()">Agregar Materia</ion-button>  
  <ion-list>
    <ion-item *ngFor="let materia of materiasFiltradas; let i = index">
      <ion-label>
        <h2>{{ materia.nombre }}</h2>
        <p>Estado: {{ estados[i] || 'Calculando...' }}</p>       
      </ion-label>
      <ion-button (click)="irNotas(materia.id)">Ver Notas</ion-button>
      <ion-button (click)="editarMateria(materia.id)">Editar</ion-button>
      <ion-button (click)="eliminarMateria(materia.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

</ion-content>

