<ion-header>
  <ion-toolbar>
    <ion-title>Materias</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="crearMateria()">Agregar Materia</ion-button>  
  <ion-list>
    <ion-item *ngFor="let materia of materias; let i = index">
      <ion-label>
        <h2>{{ materia.nombre }}</h2>
        <p>Estado: {{ estados[i] }}</p>
      </ion-label>
      <ion-button (click)="irNotas(materia.id)">Ver Notas</ion-button>
      <ion-button (click)="editarMateria(materia.id)">Editar</ion-button>
      <ion-button (click)="eliminarMateria(materia.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

</ion-content>

